/* Add this to your CSS file */
.custom-header {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .custom-header-label {
    white-space: normal;
    text-align: center;
    margin-right: 5px; /* Adjust as needed */
  }
  
  .custom-header-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .custom-header-icons i {
    cursor: pointer;
  }
  